*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1.4;
  color: white;
  background: #181f2a;
}

/* Mobile 500px */
@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: #1c2431 url(/images/bg-curvy-desktop.svg) bottom no-repeat;
  background-size: contain;
  padding-bottom: 18rem;
}

.hero__image {
  width: 73.9rem;
  height: 53.3rem;
}

.hero__heading {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  width: 74.2rem;
  margin: 4.6rem;
}

.hero__text {
  width: 65.2rem;
  font-size: 2rem;
  padding: 0 3rem;
}

.cta {
  color: white;
  text-decoration: none;
  width: 28rem;
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1.6rem 0;
  margin: 3rem 0;
  border-radius: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
}

.cta__medium {
  width: 20rem;
  font-size: 1.5rem;
}

.cta:hover {
  background: #8ccac7;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 9rem 15rem;
  font-size: 1.7rem;
  text-align: center;
  margin: auto;
  max-width: 1065px;
  padding-inline: 0.5rem;
  margin-bottom: 11rem;
}

.features__heading {
  font-size: 2.2rem;
  margin: 2.5rem 0 1.2rem 0;
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
  padding: 0 8rem;
}

.productive__image {
  height: 45rem;
  width: auto;
  margin-right: 4.5rem;
}

.productive__detail :not(:last-child) {
  margin-bottom: 2.5rem;
}

.productive__title {
  font-size: 3rem;
  width: 50%;
}

.productive__text {
  font-size: 1.6rem;
}

.productive__link {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
  color: #65e2d9;
  border-bottom: 0.1rem solid #65e2d9;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.productive__link:hover {
  color: white;
  border-bottom: 0.1rem solid white;
}

.productive__link:hover use {
  fill: white;
}

.productive__link:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
}

.productive__arrow {
  vertical-align: middle;
  margin-left: 0.3rem;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 6rem 5rem 6rem;
  border-radius: 0.8rem;
  background: #1c2431;
  -webkit-box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -33rem;
}

.sign-up__title {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.sign-up__text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
  width: 90%;
}

.sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.sign-up form div {
  position: absolute;
  bottom: -2.3rem;
  left: 2.7rem;
}

.sign-up .feedback {
  color: #ff4242;
}

.sign-up input[type="email"] {
  width: 55rem;
  height: 5rem;
  padding: 2rem 3rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  margin-right: 3rem;
}

.sign-up input[type="email"]::-webkit-input-placeholder {
  opacity: 0.5;
}

.sign-up input[type="email"]:-ms-input-placeholder {
  opacity: 0.5;
}

.sign-up input[type="email"]::-ms-input-placeholder {
  opacity: 0.5;
}

.sign-up input[type="email"]::placeholder {
  opacity: 0.5;
}

.sign-up input[type="submit"] {
  color: white;
  cursor: pointer;
  margin: 0;
}

/* HERO */
@media only screen and (max-width: 768px) {
  .hero {
    min-height: 50vh;
    padding: 2rem 0;
  }
  .hero__heading {
    font-size: 3rem;
    width: 80%;
  }
  .hero__text {
    font-size: 1.5rem;
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .hero__image {
    width: 35rem;
    height: 30rem;
  }
}

/* FEATURES */
@media only screen and (max-width: 1125px) {
  .features {
    padding: 4rem;
  }
}

@media only screen and (max-width: 670px) {
  .features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 1.8rem;
  }
}

/* PRODUCTIVE */
@media only screen and (max-width: 1000px) {
  .productive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 7rem;
  }
  .productive__image {
    margin: 0 0 4rem;
  }
}

@media only screen and (max-width: 1090px) {
  .productive__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .productive {
    padding: 0 3rem;
  }
  .productive__image {
    width: 42rem;
    height: 37rem;
  }
  .productive__title {
    font-size: 2.3rem;
    width: auto;
  }
}

/* SIGN-UP */
@media only screen and (max-width: 940px) {
  .sign-up {
    padding: 5rem 3.5rem;
  }
}

@media only screen and (max-width: 875px) {
  .sign-up {
    padding: 4rem 1.5rem;
    bottom: -30rem;
  }
  .sign-up form div {
    bottom: -2.2rem;
    left: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .sign-up {
    padding: 3.5rem 6rem;
    bottom: -35rem;
  }
  .sign-up__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sign-up form div {
    bottom: 8.7rem;
  }
  .sign-up input[type="email"], .sign-up input[type="submit"] {
    margin: 0 0 3rem 0;
  }
  .cta__medium {
    width: 55rem;
  }
}

@media only screen and (max-width: 768px) {
  .sign-up {
    padding: 3.2rem 6rem;
  }
}

@media only screen and (max-width: 670px) {
  .sign-up {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .sign-up {
    padding: 4rem 2rem;
    bottom: -38rem;
  }
  .sign-up form div {
    bottom: 8.5rem;
  }
  .sign-up__title {
    font-size: 2.3rem;
  }
  .sign-up input[type="email"], .sign-up input[type="submit"] {
    width: 35rem;
    margin: 0 0 2.8rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .sign-up {
    padding: 3rem 2.8rem;
    bottom: -42rem;
  }
  .sign-up__text {
    font-size: 1.7rem;
    width: auto;
  }
}

.footer {
  background: #0b1523;
  padding: 20rem 3rem 8rem 7rem;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr 1fr 2fr 2fr;
      grid-template-columns: 4fr 3fr 1fr 2fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

.footer__logo {
  margin-bottom: 3rem;
}

.footer__location {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 95%;
      grid-template-columns: 5% 95%;
  width: 93%;
}

.footer__text {
  margin-left: 2rem;
}

.footer__contact .footer__phone {
  margin-bottom: 2rem;
}

.footer__contact .footer__icon {
  vertical-align: middle;
  margin-right: 2rem;
}

.footer__links a, .footer__additional-links a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  margin-bottom: 1.5rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer__links a:hover, .footer__additional-links a:hover {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.footer__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer__social a {
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social a:hover {
  color: #8ccac7;
}

.footer__social a:hover {
  border-color: #8ccac7;
}

@media only screen and (max-width: 1100px) {
  .footer__location, .footer__contact, .footer__links, .footer__additional-links {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 940px) {
  .footer__contact, .footer__icon {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
  .footer__social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    margin-top: 10rem;
    margin-left: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer__location {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
    width: 70%;
  }
  .footer__contact {
    margin-bottom: 2rem;
  }
  .footer__contact, .footer__icon {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5 / span 6;
  }
  .footer__links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
  }
  .footer__additional-links {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5 / span 6;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
  }
  .footer__social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
    margin-left: 17rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 28rem 2.7rem 4.2rem 3rem;
  }
  .footer__contact, .footer__links, .footer__additional-links {
    font-size: 1.5rem;
  }
  .footer__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer__location {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    width: 55%;
  }
  .footer__contact, .footer__icon {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
  }
  .footer__links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 4;
    grid-row: 4 / 4;
    margin-top: 4rem;
  }
  .footer__additional-links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 5;
    grid-row: 5 / 5;
  }
  .footer__social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 6;
    grid-row: 6 / 6;
    margin: 0 auto;
  }
}

.main {
  position: relative;
  margin-bottom: 20rem;
}

header {
  font-family: "Raleway", sans-serif;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 7.3rem 8rem;
  width: 100%;
  background: #1c2431;
}

header .navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar__link {
  list-style: none;
}

header .navbar__link:not(:last-child) {
  padding-right: 5.6rem;
}

header .navbar__link:hover {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .navbar__link a {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 640px) {
  header .navbar {
    padding: 3rem 2.5rem;
  }
  header .navbar__link:not(:last-child) {
    padding-right: 2.5rem;
  }
  header .navbar__logo {
    width: 15rem;
    height: 5rem;
  }
}

.testimonial-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 8rem;
}

.card {
  background: #202a3c;
  margin-bottom: 12rem;
  padding: 3.5rem 3rem;
  border-radius: 0.5rem;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px rgba(83, 198, 182, 0.04);
          box-shadow: 10px 10px 15px rgba(83, 198, 182, 0.04);
}

.card:nth-child(1)::before {
  content: url(/images/bg-quotes.png);
  position: absolute;
  top: -3.5rem;
  left: -0.8rem;
  z-index: -1;
}

.card__text {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__photo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
}

.card__user-name {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

.card__user-position {
  font-size: 1.2rem;
  opacity: 0.8;
}

@media only screen and (max-width: 890px) {
  .testimonial-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 1.7rem;
    margin-top: 8rem;
  }
  .card {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .testimonial-cards {
    padding: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */