/////////////////////////////////////////
// PRIMARY COLORS

$color-primary-dark: hsla(0, 0, 0, 0.25);
$color-primary-dark-blue: hsl(217, 28%, 15%);
$color-primary-dark-blue-main-bg: hsl(218, 28%, 13%);
$color-primary-dark-blue-footer-bg: hsl(216, 53%, 9%);
$color-primary-dark-blue-testimonials-bg: hsl(219, 30%, 18%);

/////////////////////////////////////////
// ACCENT COLORS

$color-accent-cyan-cta: hsl(176, 68%, 64%);
$color-accent-cyan-cta-hover: hsl(177, 37%, 67%);
$color-accent-blue-cta: hsl(198, 60%, 50%);
$color-accent-light-red-err: hsl(0, 100%, 63%);

/////////////////////////////////////////
// NEUTRAL COLORS

$color-neutral-white: hsl(0, 0%, 100%);

/////////////////////////////////////////
// FONT VARIABLES

$font-primary: 'Open Sans', sans-serif;
$font-display: 'Raleway', sans-serif;

/////////////////////////////////////////
// FONT SIZE VARIABLES

$fs-small-01: 1.1rem;
$fs-small: 1.2rem;
$fs-small-1: 1.3rem;
$fs-main: 1.4rem;
$fs-medium: 1.5rem;
$fs-xmedium: 1.7rem;
$fs-xmedium-1: 1.8rem;
$fs-large: 2rem;
$fs-large-1: 2.2rem;
$fs-xlarge: 3rem;
$fs-larger: 4rem;

/////////////////////////////////////////
//RESPONSIVE BREAKPOINTS
$bp-largest: 1125px;
$bp-largest-1: 1100px;
$bp-larger: 1090px;
$bp-large: 1000px;
$bp-large-1: 940px;
$bp-medium-2: 890px;
$bp-medium-1: 875px;
$bp-medium-2: 800px;


/////////////////////////////////////////
// CSS UNIVERSAL RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
  }

  body {
    font-family: $font-primary;
    font-size: $fs-main;
    font-weight: 400;
    scroll-behavior: smooth;
    line-height: 1.4;
    color: $color-neutral-white;
    background: $color-primary-dark-blue-main-bg;
  }

  ///////////////////////////////////////////
// MEDIA QUERIES

/* Mobile 500px */

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}