/////////////////////////////////////////
// INTRO SECTION

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: $color-primary-bark-blue url(/images/bg-curvy-desktop.svg) bottom no-repeat;
    background-size: 100% 27rem;

    &__image {
        width: 73.9rem;
        height: 53.3rem ;
    }

    &__heading {
        font-size: 4rem;
        font-family: $font-display;
        width: 74.2rem;
        margin: 4.6rem;
    }

    &__text {
        width: 60.2rem;
        font-size: 2rem;
    }
}