/////////////////////////////////////////
// HERO SECTION

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: $color-primary-dark-blue url(/images/bg-curvy-desktop.svg) bottom no-repeat;
    background-size: contain;
    padding: 12.5rem 0;

    &__image {
        width: 73.9rem;
        height: 53.3rem ;
    }

    &__heading {
        font-size: $fs-larger;
        font-family: $font-display;
        width: 74.2rem;
        margin: 4.6rem;
    }

    &__text {
        width: 65.2rem;
        font-size: $fs-large;
        padding: 0 3rem;
    }
}

/////////////////////////////////////////
// CALL TO ACTION

.cta {
    color: $color-neutral-white;
    text-decoration: none;
    width: 28rem;
    font-size: $fs-xmedium;
    font-family: $font-display;
    font-weight: 700;
    padding: 1.6rem 0;
    margin: 3rem 0;
    border-radius: 5rem;
    background: linear-gradient(to right, ($color-accent-cyan-cta), $color-accent-blue-cta);
    border: none;

    &__medium {
        width: 20rem;
        font-size: $fs-medium;
    }

    &:hover {
        background: $color-accent-cyan-cta-hover;
    }
}

/////////////////////////////////////////
// FEATURES SECTION

.features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem 15rem;
    text-align: center;
    margin: 13rem 0;
    padding: 0 22.5rem;

    &__heading {
        font-size: $fs-large-1;
        margin: 2.5rem 0 1.2rem 0;
    }
}

/////////////////////////////////////////
// PRODUCTIVE SECTION

.productive {
    display: flex;
    align-items: center;
    padding: 0 10rem;

    &__image {
        height: 37rem;
        width: auto;
        margin-right: 4.5rem;
    }

    &__detail :not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &__title {
        font-size: $fs-larger;
    }

    &__link { 
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 0.5rem;
        color: $color-accent-cyan-cta;
        border-bottom: 0.1rem solid $color-accent-cyan-cta;
        transition: all 0.2s;

        &:hover {
            color: $color-neutral-white;
            border-bottom: 0.1rem solid $color-neutral-white;
            use {
                fill: $color-neutral-white;
            }
        }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }

    @keyframes pulsate {
        0% {
            transform: scale(1);
            box-shadow: none;
        }

        50% {
            transform: scale(1.05);
            box-shadow: 0 1rem 4rem ($color-primary-dark);
        }

        100% {
            transform: scale(1);
            box-shadow: none;
        }
    }
}

    &__arrow {
        vertical-align: middle;
        margin-left: 0.3rem;
    }
}

/////////////////////////////////////////
// SIGN-UP SECTION

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 7rem 4rem 7rem;
    border-radius: 0.5rem;
    background: $color-primary-dark-blue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30rem;

    &__title {
        font-size: $fs-xlarge;
        margin-bottom: 2.5rem;
    }

    &__text {
        text-align: center;
        margin-bottom: 1.5rem;
        width: 90%;
    }

    &__form {
        display: flex;
        align-content: center;
    }

    span {
        position: absolute;
        display: none;
        bottom: 1.5rem;
        left: 10rem;
        color: $color-accent-light-red-err;
    }

    input[type="email"] {
        width: 48rem;
        height: 5rem;
        padding: 2rem 3rem;
        outline: none;
        border: none;
        border-radius: 5rem;
        margin-right: 3rem;
        
        &::placeholder {
            opacity: 0.5;
        }
    }

    input[type="submit"] {
        color: $color-neutral-white;
        cursor: pointer;
        margin: 0;
    }
}

/////////////////////////////////////////
// MEDIA QUERIES

/* HERO */ 

@media only screen and(max-width: $bp-small) {
    .hero {
        min-height: 50vh;
        padding: 2rem 0;

        &__heading {
            font-size: $fs-xlarge;
            width: 80%;
        }

        &__text {
            font-size: $fs-medium;
            width: 80%;
        }
    }
}

@media only screen and(max-width: $bp-medium-2) {
    .hero {
        &__image {
            width: 35rem;
            height: 30rem;
        }
    }
}


/* FEATURES */ 

@media only screen and(max-width: $bp-largest) {
    .features {
        padding: 4rem;
    }
}

@media only screen and(max-width: $bp-small-1) {
   .features {
       grid-template-columns: 1fr;
       font-size: $fs-xmedium-1;
   }
}


/* PRODUCTIVE */ 

@media only screen and(max-width: $bp-large) {
    .productive {
        flex-direction: column;
        padding: 0 7rem;
    
        &__image {
            margin: 0 0 4rem;
        }
    }
}

@media only screen and(max-width: $bp-larger) {
    .productive {
        
        &__title {
            font-size: $fs-xlarge;
        }
    }
}
@media only screen and(max-width: $bp-smallest-1) {
    .productive {
        &__image {
            width: 38rem;
            height: 30rem;
        }
    }
}

/* SIGN-UP */ 

@media only screen and(max-width: $bp-large-1) {
    .sign-up {
        padding: 5rem 3.5rem;

        span {
            bottom: 2.5rem;  
            left: 6rem;        
        }
    }

}

@media only screen and(max-width: $bp-medium-1) {
    .sign-up {
        padding: 4rem 0.5rem;
        bottom: -30rem;

        span {
            bottom: 1.5rem;
            left: 3rem;
        }
    }
}

@media only screen and(max-width: $bp-medium-2) {
    .sign-up {
        padding: 3.5rem 6rem;
        bottom: -35rem;

        &__form {
            flex-direction: column;
        }

        span {
            bottom: 12rem;
            left: 9rem;
        }

        input[type="email"], input[type="submit"] {  
            margin: 0 0 3rem 0;
         }
    }

    .cta {
       &__medium {
        width: 48rem;
       }
    }
}

@media only screen and(max-width: $bp-small) {
    .sign-up {
        padding: 3.2rem 6rem;
    }
}

@media only screen and(max-width: $bp-small-1) {
    .sign-up {
        padding: 3rem 2rem;

        span {
            left: 5rem;
        }
    }
}

@media only screen and(max-width: $bp-smallest) {
    .sign-up {
        padding: 4rem 2rem;
        bottom: -38rem;

        span {
            bottom: 12.5rem;
        }

    input[type="email"], input[type="submit"] {  
        width: 35rem;
        margin: 0 0 2.8rem 0;
     }

    }
}

@media only screen and(max-width: $bp-smallest-1) {
    .sign-up {
       padding: 3rem 1.5rem; 
       bottom: -42rem;

       span {
        bottom: 11.5rem;
        left: 4.5rem;
       }
    }
}
