/////////////////////////////////////////
// INTRO SECTION

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: $color-primary-dark-blue url(/images/bg-curvy-desktop.svg) bottom no-repeat;
    background-size: 100% 27rem;

    &__image {
        width: 73.9rem;
        height: 53.3rem ;
    }

    &__heading {
        font-size: 4rem;
        font-family: $font-display;
        width: 74.2rem;
        margin: 4.6rem;
    }

    &__text {
        width: 65.2rem;
        font-size: 2rem;
        padding: 0 3rem;
    }
}

/////////////////////////////////////////
// CALL TO ACTION

.cta {
    color: $color-neutral-white;
    text-decoration: none;
    width: 28.8rem;
    font-size: 1.7rem;
    font-family: $font-display;
    font-weight: 700;
    padding: 1.8rem 0;
    margin: 3rem 0;
    border-radius: 5rem;
    background: linear-gradient(to right, ($color-accent-cyan-cta), $color-accent-blue-cta);
    border: none;
}

/////////////////////////////////////////
// FEATURES SECTION

.features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem 15rem;
    text-align: center;
    margin: 13rem 0;
    padding: 0 22.5rem;

    &__heading-1 {
        font-size: 2.2rem;
        margin: 2.5rem 0 1.2rem 0;
    }
}

/////////////////////////////////////////
// PRODUCTIVE SECTION

.productive {
    display: flex;
    align-items: center;
    padding: 0 10rem;

    &__image {
        height: 46rem;
        width: auto;
        margin-right: 4.5rem;
    }

    &__detail :not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &__title {
        font-size: 4rem;
    }

    &__link { 
        text-decoration: none;
        color: $color-accent-cyan-cta;
        border-bottom: 0.1rem solid $color-accent-cyan-cta;
    }

    &__link img {
        vertical-align: middle;
        margin-left: 0.3rem;
    }
}

/////////////////////////////////////////
// SIGN-UP SECTION

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 7rem 4rem 7rem;
    border-radius: 0.5rem;
    background: $color-primary-dark-blue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30rem;

    &__title {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    &__text {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    input[type="email"] {
        width: 48rem;
        height: 5rem;
        padding: 2rem 3rem;
        outline: none;
        border: none;
        border-radius: 5rem;
    }
}

