/////////////////////////////////////////
// FOOTER SECTION

.footer {
    background: $color-primary-dark-blue-footer-bg;
    padding: 20rem 8rem 8rem 10rem;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 5rem;

    &__logo {
        grid-column: 1 / span 6;
        margin-bottom: 3rem;
     }

    &__location {
     display: grid;
     grid-template-columns: 5% 95%;
    }

    &__text {
    margin-left: 1.5rem;
    }

    &__contact &__phone {
        margin-bottom: 1.5rem;
    }

    &__contact &__icon {
        vertical-align: middle;
       }
}