/////////////////////////////////////////
// FOOTER SECTION

.footer {
    background: $color-primary-dark-blue-footer-bg;
    font-size: $fs-xmedium;
    padding: 20rem 3rem 8rem 7rem;

    &__content {
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 2fr 2fr;
    grid-template-rows: auto;
    column-gap: 5rem;
    }

    &__logo {
        margin-bottom: 3rem;
     }

    &__location {
     display: grid;
     grid-template-columns: 5% 95%;
     width: 93%;
    }

    &__text {
    margin-left: 2rem;
    width: 98%;
    }

    &__contact &__phone {
        margin-bottom: 2rem;
    }

    &__contact &__icon {
        vertical-align: middle;
        margin-right: 2rem;
    }
    
    &__links a, &__additional-links a {
        color: $color-neutral-white;
        text-decoration: none;
        font-family: $font-display;
        font-weight: 400;
        display: grid;
        margin-bottom: 1.5rem;
        transition: all 0.3s ease-in;

        &:hover {
            font-family: $font-display;
            font-weight: 700;
        }
    }

    &__social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    &__social a {
        font-size: $fs-medium;
        color: $color-neutral-white;
        border: 2px solid $color-neutral-white;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            color: $color-accent-cyan-cta-hover;
          }

        &:hover {
            border-color: $color-accent-cyan-cta-hover;
          }
    }
    
}

/////////////////////////////////////////
// MEDIA QUERIES

@media only screen and (max-width: $bp-largest-1) {
    .footer {
   &__location, &__contact, &__links, &__additional-links {
         font-size: $fs-small-01;
        }
    }
}

@media only screen and (max-width: $bp-large-1) {
    .footer {
    
      &__contact, &__icon {
          grid-column: 2 / span 2;
      }

      &__social {
          grid-column: 1 / span 4;
          grid-row: 2 / 2;
          margin-top: 10rem;
          margin-left: 20rem;
      }
    }
}

@media only screen and (max-width: $bp-small) {
    .footer {
        &__content {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        &__location {
            grid-column: 1 / span 4;
            width: 70%;
        }

        &__contact {
            margin-bottom: 2rem;
        }

        &__contact, &__icon {
            grid-column: 5 / span 6;
        }

        &__links {
            grid-column: 1 / span 2;
            grid-row: 2 / 2;
        }

        &__additional-links {
            grid-column: 5 / span 6;
            grid-row: 2 / 2;
        }

        &__social {
            grid-column: 1 / span 6;
            grid-row:  3 / 3;
            margin-left: 17rem;
        }
    }
}

@media only screen and (max-width: $bp-smallest) {
    .footer {
       padding: 28rem 2.7rem 4.2rem 3rem; 

       &__contact, &__links, &__additional-links {
        font-size: $fs-medium;
       }

       &__content{ 
       grid-template-columns: 1fr;
       gap: 2rem;    
    }

       &__location {
           grid-column: 1 / span 6;
           width: 55%;
       }
       
       &__contact, &__icon {
        grid-column: 1 / span 6;
       }

       &__links {
           grid-column: 1 / span 6;
           grid-row: 4 / 4;
           margin-top: 4rem;
       }

       &__additional-links {
        grid-column: 1 / span 6;
        grid-row: 5 / 5;
    }


       &__social {
        grid-column: 1 / span 6;
        grid-row: 6 / 6;
        margin: 0 auto;
       }
    }
}
