/////////////////////////////////////////
// FOOTER SECTION

.footer {
    background: $color-primary-dark-blue-footer-bg;
    padding: 20rem 8rem 8rem 10rem;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 5rem;

    &__logo {
        grid-column: 1 / span 6;
        margin-bottom: 3rem;
     }

    &__location {
     display: grid;
     grid-template-columns: 5% 95%;
    }

    &__text {
    margin-left: 1.5rem;
    }

    &__contact &__phone {
        margin-bottom: 1.5rem;
    }

    &__contact &__icon {
        vertical-align: middle;
        margin-right: 1.5rem;
    }

    
    &__links a, &__additional-links a {
        color: $color-neutral-white;
        text-decoration: none;
        display: grid;
        margin-bottom: 1.5rem;
    }

    &__social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-left: 5rem
    }

    &__social a {
        font-size: 1.8rem;
        color: $color-neutral-white;
        border: 2px solid $color-neutral-white;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
}