/////////////////////////////////////////
// MAIN SECTION

.main {
    position: relative;
    margin-bottom: 20rem;
}

/////////////////////////////////////////
// HEADER SECTION

.header {
    font-family: $font-display;
    font-weight: 700;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-display;
        font-weight: 400;
        padding: 7.3rem 8rem;
        width: 100%;
        background: $color-primary-dark-blue;
    }

    &__nav-items {
        display: flex;
        align-items: center;
    }

    &__nav-link {
        list-style: none;

          &:not(:last-child) {
            padding-right: 5.6rem;
        }

        &:hover {
            font-family: $font-display;
            font-weight: 700;
            text-decoration: underline;
        }
        
    }

    &__nav-link a {
        text-decoration: none;
        color: $color-neutral-white;
    }
}

/////////////////////////////////////////
// MEDIA QUERIES

@media only screen and (max-width: $bp-smaller) {
    .header {
        &__nav {
            padding: 3rem 2.5rem;
        }

        &__nav-link:not(:last-child) {
            padding-right: 2.5rem;
        }

        &__logo {
            width: 15rem;
            height: 5rem;
        }
    }
}