/////////////////////////////////////////
// HEADER 

.header {
    font-family: $font-display;
    font-weight: 700;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-link {
        list-style: none;
    }

    &__nav-link a {
        text-decoration: none;
    }
}